//****************************//
//            About           //
//****************************//
.aboutme {
    width: 38rem;
    height: calc(100vh - 4.15rem);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: -39.5rem;
    display: none;
    z-index: 999;

    @include respond(phone) {
        height: calc(100vh - 8.3rem);
        width: 100vw;
    }
}

.aboutme-toggle {
    display: initial;
    right: 0;
}