//****************************//
//        Media Query         //
//****************************//
/*
@ - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet LandScape
[1200 - 1800px:]  Normal Style
1800+       :  Big Desktop

$breakpoint:
-phone
-tab-port
-tab-land
-big-desktop
*/
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    //600px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }

    // 900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 85.375em) {
      @content;
    }

    //1350px
  }
}

//****************************//
//           Mixin            //
//****************************//
@mixin position($x-position, $y-position) {
  position: absolute;
  top: $x-position;
  left: $y-position;
  transform: translate(-50%, -50%);
}

//****************************//
//            Root            //
//****************************//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: context-menu;
  user-select: none;
}

html {
  // defines what 1rem is
  font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%

  //   @include respond(tab-land) {
  //     font-size: 56.25%; // 1rem = 9px 9/16= 56.25%
  //   }

  //   @include respond(tab-port) {
  //     font-size: 50%; // 1rem = 8px. 8/16 = 50%
  //   }

  // @include respond(phone) {
  //   font-size: 59%;
  // }

}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

//****************************//
//         Keyframes          //
//****************************//
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }

  to {
    text-shadow: 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff,
      0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff;
  }
}

//****************************//
//        Background          //
//****************************//
.background {
  background-image: url("img/bg.jpg");
  background-color: black;
  height: auto !important;
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//****************************//
//          Taskbar           //
//****************************//
.topTaskbar {
  display: none;

  @include respond(phone) {
    display: grid;
    grid-row: 1/2;
  }
}

.topTaskbar,
.mainTaskbar {
  height: 4.15rem;
  width: 100vw;
  background-color: rgba(12, 12, 12, 0.8);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  overflow: hidden;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

// main taskbar
.mainTaskbar {
  grid-row: 12/13;
  grid-column: 1/13;
  display: grid;
  align-self: end;
  position: absolute;
  bottom: 0;

  &__list {
    display: flex;
    list-style-type: none;
    align-self: center;

    @include respond(phone) {
      padding: 0 1rem;
      justify-content: space-between;
    }

    &-icons {
      color: white;
      font-size: 2rem;
      padding: 0.75rem 1.5rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgb(40, 40, 40);

        @include respond(phone) {
          background-color: transparent;
        }
      }
    }

    .windows {
      @include respond(phone) {
        display: none;
      }
    }

    .windows:hover {
      color: rgb(30, 144, 255);
    }

    .desktop {
      @include respond(phone) {
        display: none;
      }
    }

    .poweroff {
      display: none;

      @include respond(phone) {
        display: initial;
      }
    }
  }
}

// Time, date, about
.timedate {
  grid-column: 2/13;
  display: none;
  list-style-type: none;
  color: white;
  align-self: center;
  justify-self: end;
  text-align: center;

  @include respond(phone) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 4.15rem;
    width: 100vw;
  }

  &__list {
    padding: 0.45rem 1.5rem;
    transition: all 0.3s ease-in-out;
    user-select: none;
  }

  .time {
    font-size: 1.2rem;

    &:hover {
      background-color: rgb(40, 40, 40);

      @include respond(phone) {
        background-color: transparent;
      }
    }

    @include respond(phone) {
      font-size: 1.4rem;
      padding-top: 1rem;
    }
  }

  #date {
    @include respond(phone) {
      display: none;
    }
  }

  .icon {
    font-size: 2rem;

    &:hover {
      background-color: rgb(40, 40, 40);

      @include respond(phone) {
        background-color: transparent;
      }
    }
  }
}

.bottom {
  display: flex;

  @include respond(phone) {
    display: none;
  }
}

.top {
  display: grid;

  @include respond(phone) {
    grid-column: 1/13;
  }
}

.center {
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

.right {
  justify-self: end;
  grid-row: 1/2;
  grid-column: 1/2;
}

//****************************//
//        Start Menu          //
//****************************//
.startMenu {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -46rem;
  height: 50rem;
  width: 32rem;
  display: none;
  z-index: 999;
  transition: all 0.2s ease-in-out;

  @include respond(phone) {
    display: none;
  }

  // Power button
  &__power {
    height: 100%;
    width: 4.7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .power {
      font-size: 2rem;
      justify-self: center;
      align-self: end;
      padding: 1.2rem 1.38rem;
      transition: all 0.3s ease-in-out;
      color: white;

      &:hover {
        background-color: rgb(40, 40, 40);
      }
    }
  }

  // Program list area
  &__programs {
    height: 50rem;
    width: 27.21rem;
    position: absolute;
    padding-left: 1.5rem;
    top: 0;
    right: 0;
    overflow: hidden;
    color: #f4f4f4;
  }
}

.startMenu-toggle {
  bottom: 4.2rem;
  display: initial;

  @include respond(phone) {
    display: none;
  }
}




// Notification number
#notification {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
  position: absolute;
  right: 2.15rem;
  bottom: 1.65rem;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: context-menu;

  @include respond(phone) {
    top: 0.85rem;
  }
}

//****************************//
//            About           //
//****************************//
.aboutme {
  width: 38rem;
  height: calc(100vh - 4.15rem);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: -39.5rem;
  display: none;
  z-index: 999;

  @include respond(phone) {
    height: calc(100vh - 8.3rem);
    width: 100vw;
  }
}

.aboutme-toggle {
  display: initial;
  right: 0;
}

//****************************//
//          Folders           //
//****************************//
.folders {
  @include respond(tab-land) {
    display: none;
  }

  &__list {
    list-style-type: none;
    text-align: center;
    padding: 1rem 1rem;
    z-index: 2;

    &-items {
      margin-bottom: 3rem;
      width: 6rem;
      height: 6.5rem;

      @include respond(tab-land) {
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.6) !important;
        width: 5rem;
        height: 5rem;
        padding: 1rem 0.5rem;
        margin: 0rem 1rem 5rem 0rem;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }

      &-folder {
        font-size: 4rem;

        @include respond(tab-land) {
          font-size: 3rem;
        }
      }

      &-title {
        font-size: 1.3rem;
        color: white;
        cursor: context-menu;
        user-select: none;

        @include respond(tab-land) {
          padding-top: 1.2rem;
          margin-left: -0.2rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}


.clicked {
  display: none;
  border-bottom: .3rem solid rgb(105, 105, 255);

  @include respond(tab-land) {
    display: none !important;
  }
}

//****************************//
//       Mobile Folders       //
//****************************//
.mobile {
  display: none;
}

@include respond(tab-land) {
  .mobile {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: calc(100vh - 8.30rem);
    width: 100vw;
    overflow: hidden;
    color: white;

    @include respond(tab-port) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    &__folder {
      height: 5rem;
      width: 5rem;
      border-radius: 1rem;
      background-color: rgba(125, 125, 125, 0.5);
      justify-self: center;
      align-self: center;
      text-align: center;

      &-icon {
        font-size: 3.5rem;
        line-height: 5rem;
      }

      &-name {
        font-size: 1.2rem;
        color: white;
      }
    }
  }
}

//****************************//
//        Project Folders     //
//****************************//
.projects {
  height: calc(100vh - 4.15rem);
  background-color: white;
  width: 100vw;
  z-index: 900;
  position: absolute;
  top: 0;

  @include respond(phone) {
    height: 100vh;
    background-color: white;
  }

  &__section {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 1fr;
    width: 100%;
    height: calc(100% - 3rem);

    @include respond(phone) {
      grid-template-columns: 100vw;
      grid-template-rows: 3rem calc(100vh - 3rem);
      overflow: hidden;
    }

    &-folders {
      border-right: 0.15rem solid #f4f4f4;
      overflow: hidden;

      @include respond(phone) {
        width: 100vw;
        height: 6.5rem;
        border-bottom: 0.15rem solid #f4f4f4;
      }
    }

    &-project {
      overflow: hidden;
      padding: 0.5rem 0.35rem 0.5rem 0.5rem;

      @include respond(phone) {}

      .project {
        height: 100%;
        width: 100%;
        overflow: hidden;

      }
    }
  }
}

#projects {
  display: none;
}

//****************************//
//     Top Bar(close/min)     //
//****************************//
.topbar {
  height: 3rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  border-bottom: 0.15rem solid #f4f4f4;
  overflow: hidden;

  &-icons {
    position: absolute;
    right: 0;

    &-details {
      font-size: 1.4rem;
      padding: 0.85rem 1.8rem;
      color: rgb(65, 64, 64);
    }

    &-minus,
    &-square {
      &:hover {
        color: rgb(0, 0, 0);
        background-color: rgba(120, 120, 120, 0.5);
      }
    }

    &-close {
      &:hover {
        color: white;
        background-color: red;
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    cursor: context-menu;
    user-select: none;
  }
}

//****************************//
//      Display Icon List     //
//****************************//
.display {
  list-style-type: none;
  font-size: 1.3rem;

  &__title {
    height: 3.5rem;
    display: grid;
    grid-template-columns: 3.5rem 20rem;
    grid-template-rows: 1fr;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    padding: 0.5rem;
    cursor: context-menu;
    user-select: none;
  }

  &__titleHoverStartMenuColor:hover {
    background-color: rgba(125, 125, 125, 0.5);
  }

  &__titleHoverProjectColor:hover {
    background-color: rgba(125, 125, 125, 0.5);
  }

  &__item {
    height: 3.5rem;
    display: grid;
    grid-template-columns: 3.5rem 20rem;
    grid-template-rows: 1fr;
    transition: all 0.1s ease-in-out;

    @include respond(phone) {
      padding: 0 0.50rem;
      grid-template-columns: 1fr 1fr;
    }

    &-icon {
      font-size: 2rem;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
      height: 3rem;
      width: 3rem;
      padding-top: 0.5rem;
      padding-left: 0.5rem;

      @include respond(phone) {

        justify-self: start;
      }
    }

    &-iconStartMenuBackgroundColor {
      background-color: rgb(30, 144, 255);
    }

    &-iconProjectsBackgroundColor {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &-name {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: center;
      justify-self: start;
      padding-left: 1rem;

      @include respond(phone) {
        justify-self: end;
      }
    }

    &-nameStartMenuColor {
      color: white;
    }
  }

  &__itemHoverStartMenuColor:hover {
    background-color: rgba(125, 125, 125, 0.5);
  }

  &__itemHoverProjectsColor:hover {
    background-color: rgba(125, 125, 125, 0.5);

    @include respond(phone) {
      background-color: transparent;
    }
  }

}



//****************************//
//        Icon Colors         //
//****************************//
.calculator {
  color: rgb(255, 165, 0);
}

.car {
  color: rgb(255, 255, 255);
}

.codepen {
  color: rgb(120, 120, 120);
}

.compress {
  display: none;
}

.file {
  color: rgb(236, 227, 227);
}

.folder {
  color: rgb(255, 208, 151);
}

.github {
  color: rgba(68, 108, 179, 1);
}

.linkedin {
  color: rgb(0, 119, 181);
}

.notepad {
  color: rgb(135, 206, 235);
}

.paint {
  color: rgba(230, 126, 34, 1);
}

.profile {
  color: rgb(23, 234, 153);
}

.profile2 {
  color: rgb(32, 123, 123);
}

//****************************//
//        Scroll bar          //
//****************************//
@include respond(tab-land) {
  .scroll {
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb:active {
      background: #000000;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: 0px none #ffffff;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track:hover {
      background: transparent;
    }

    &::-webkit-scrollbar-track:active {
      background: transparent;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

  }
}

.scroll {
  transition: all 0.2s ease-in-out;

  &:hover {
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb:active {
      background: #000000;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: 0px none #ffffff;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track:hover {
      background: transparent;
    }

    &::-webkit-scrollbar-track:active {
      background: transparent;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}