//****************************//
//            Root            //
//****************************//
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: context-menu;
    user-select: none;
}