//****************************//
//        Icon Colors         //
//****************************//
.calculator {
    color: rgb(255, 165, 0);
}

.car {
    color: rgb(255, 255, 255);
}

.codepen {
    color: rgb(120, 120, 120);
}

.compress {
    display: none;
}

.file {
    color: rgb(236, 227, 227);
}

.folder {
    color: rgb(255, 208, 151);
}

.github {
    color: rgba(68, 108, 179, 1);
}

.linkedin {
    color: rgb(0, 119, 181);
}

.notepad {
    color: rgb(135, 206, 235);
}

.paint {
    color: rgba(230, 126, 34, 1);
}

.profile {
    color: rgb(23, 234, 153);
}

.profile2 {
    color: rgb(32, 123, 123);
}