//****************************//
//          Taskbar           //
//****************************//
.topTaskbar {
    display: none;

    @include respond(tab-land) {
        display: grid;
        grid-row: 1/2;
    }
}

.topTaskbar,
.mainTaskbar {
    height: 4.15rem;
    width: 100vw;
    background-color: rgba(12, 12, 12, 0.8);
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 1fr;
    overflow: hidden;

    @include respond(tab-land) {
        grid-template-columns: 1fr;
    }
}

// main taskbar
.mainTaskbar {
    grid-row: 12/13;
    grid-column: 1/13;
    display: grid;
    align-self: end;
    position: absolute;
    bottom: 0;

    @include respond(tab-land) {
        height: 8rem;
    }

    &__list {
        display: flex;
        list-style-type: none;
        align-self: center;

        @include respond(tab-land) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
        }

        @include respond(tab-port) {
            grid-template-columns: repeat(5, 1fr);
        }

        @include respond(phone) {
            grid-template-columns: repeat(4, 1fr);
        }

        &-icons {
            color: white;
            font-size: 2rem;
            padding: 0.75rem 1.5rem;
            transition: all 0.3s ease-in-out;

            @include respond(tab-land) {
                height: 5rem;
                width: 5rem;
                background-color: rgba(125, 125, 125, 0.5);
                padding: 0;
                border-radius: 1rem;
                font-size: 3rem;
                justify-self: center;
                align-self: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;

                i {
                    justify-self: center;
                    align-self: center;
                }
            }

            &:hover {
                background-color: rgb(40, 40, 40);

                @include respond(tab-land) {
                    background-color: rgba(125, 125, 125, 0.5);
                }
            }
        }

        .windows {
            @include respond(phone) {
                display: none;
            }
        }

        .windows:hover {
            color: rgb(30, 144, 255);
        }

        .full {
            @include respond(tab-port) {
                display: none;
            }
        }

        .desktop {
            @include respond(phone) {
                display: none;
            }
        }
    }
}

.clicked {
    display: none;
    border-bottom: 0.3rem solid rgb(105, 105, 255);

    @include respond(tab-land) {
        display: none !important;
    }
}

// Time, date, about
.timedate {
    grid-column: 2/13;
    display: none;
    list-style-type: none;
    color: white;
    align-self: center;
    justify-self: end;
    text-align: center;

    @include respond(tab-land) {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        height: 4.15rem;
        width: 100vw;
    }

    &__list {
        padding: 0.45rem 1.5rem;
        transition: all 0.3s ease-in-out;
        user-select: none;
    }

    .time {
        font-size: 1.2rem;

        &:hover {
            background-color: rgb(40, 40, 40);

            @include respond(tab-land) {
                background-color: transparent;
            }
        }

        @include respond(tab-land) {
            font-size: 1.4rem;
            padding-top: 1rem;
        }
    }

    #date {
        @include respond(tab-land) {
            display: none;
        }
    }

    .icon {
        font-size: 2rem;

        &:hover {
            background-color: rgb(40, 40, 40);

            @include respond(tab-land) {
                background-color: transparent;
            }
        }
    }
}

.bottom {
    display: flex;

    @include respond(tab-land) {
        display: none;
    }
}

.top {
    display: grid;

    @include respond(tab-land) {
        grid-column: 1/13;
    }
}

.center {
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.right {
    justify-self: end;
    grid-row: 1/2;
    grid-column: 1/2;
}

// Notification number
#notification {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 2.15rem;
    bottom: 1.65rem;
    animation: glow 1s ease-in-out infinite alternate;
    cursor: context-menu;

    @include respond(tab-land) {
        top: 0.85rem;
    }
}